body {

    background-color: #131715; /* Ganti dengan kode warna yang diinginkan */

    margin: 0;

    padding: 0;

}



/* Nav Bar */



header nav {

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: space-between;

    padding: 20px 40px;

    animation: fadeInDown .8s;

}





header nav .header_logo img {

    width: 100px;

    height: 100px;

    border-radius: 100%;

    object-fit: cover;

    border: 5px solid #3b3d4e93;

    cursor: pointer;

}



 @media only screen and (max-width: 630px) {

    header nav {



        display: flex;

        flex-direction: column;

    }

    header nav .header_logo {

        margin-bottom: 20px;

    }

}

/* header */



.team .member {

position: relative;

box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

padding: 30px;

border-radius: 5px;

background: #131715;

}



.team .member .teampic {

overflow: hidden;

width: 110px;

height: 110px;

border-radius: 100%;

object-fit: cover;

border: 4px solid #21222b93;

cursor: pointer;

margin-bottom: 10px;

}



/* .team .member .teampic img {

transition: ease-in-out 0.3s;

} */





.team .member .member-info {

padding-left: 30px;

}



.team .member h4 {

font-weight: 700;

margin-bottom: 5px;

font-size: 20px;

color: white;

}



.team .member span {

display: block;

font-size: 15px;

padding-bottom: 10px;

position: relative;

font-weight: 500;

}



.team .member span::after {

content: "";

position: absolute;

display: block;

width: 50px;

height: 2px;

background: black;

bottom: 0;

left: 0;

}



.team .member p {

margin: 10px 0 0 0;

font-size: 14px;

}



.team .member-info p {



color: white;



}



.team .member-info span {



color: white;



}



.team .member .social {

margin-top: 12px;

display: flex;

align-items: center;

justify-content: flex-start;

}



.team .member .social a {

display: flex;

align-items: center;

justify-content: center;

width: 32px;

height: 32px;

background: #131715;

}



.team .member .social a i {

color: white;

font-size: 16px;

margin: 0 2px;

}



.team .member .social a:hover {

background: #94a1b2;

}



.team .member .social a:hover i {

color: black;

}



.team .member .social a+a {

margin-left: 8px;

}



section {

padding: 60px 0;

overflow: hidden;

}







.section-title {

text-align: center;

padding-bottom: 30px;

}



.section-title h2 {

font-size: 32px;

font-weight: bold;

text-transform: uppercase;

margin-bottom: 20px;

padding-bottom: 20px;

position: relative;

color: white;

}



.underline{

    width: 150px;

    height: 1px;

    background-color: black;

    margin: auto;

    margin-top: -30px;

}

/* .section-title h2::before {

content: "";

position: absolute;

display: block;

width: 120px;

height: 1px;

background: #ddd;

bottom: 1px;

left: calc(50% - 60px);

}



.section-title h2::after {

content: "";

position: absolute;

display: block;

width: 40px;

height: 3px;

background: #47b2e4;

bottom: 0;

left: calc(50% - 20px);

} */



.section-title p {

margin-top: 20px;

color: white;

}





